body{
    background-color: rgb(163, 181, 181);
}

h1{
    font: bold;
    text-align: left;
}

form{
    width: 500px;
    margin: 30px;
    padding: 20px;
    
}

#firstname, #lastname, #Email, #PhoneNumber{
        font:bolder;
            font-size: 20px;

}